@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Dear Admin</h1>
    <p>You can choose your management area from management navigation.</p>
</div>
